body {
   margin: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.cat_img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 9%;
    border: 3px solid maroon;
}

.card {
   border: 1px dotted blue;
   padding: 20px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20px; 

   border-radius: 4px;
   background-color: #ddebf8;
   
    margin: 0 auto;
   border-bottom: 6px solid #d8cefe;

   width: 90%;
   max-width: 400px;
   margin: 0 auto; 
}

.info {
    text-align: center;
    color: #2b2839;
}